Repository Armor-test/content-connector-226, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-billing, @Armor-test/squad-qa, @Armor-test/unit-design, @Armor-test/dept-notifications, @Armor-test/dept-data, @Armor-test/team-core, @Armor-test/grp-ui, @Armor-test/squad-product, @Armor-test/grp-api, @Armor-test/team-reporting, @Armor-test/grp-integration, @Armor-test/unit-cloud, @Armor-test/squad-payments, @Armor-test/dept-identity, @Armor-test/dept-automation, @Armor-test/dept-api, @Armor-test/grp-search, @Armor-test/squad-cloud, @Armor-test/team-security, @Armor-test/squad-research, @Armor-test/team-notifications, @Armor-test/unit-devops, @Armor-test/squad-tooling, @Armor-test/squad-search, @Armor-test/grp-storage, @Armor-test/squad-reporting, @Armor-test/team-logging, @Armor-test/dept-reliability, @Armor-test/dept-logging, @Armor-test/squad-cache, @Armor-test/unit-governance, @Armor-test/grp-payments, @Armor-test/squad-performance, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/compliance, @Armor-test/auth-team, @Armor-test/ci-team, @Armor-test/devops

.github/CODEOWNERS:

# CODEOWNERS file for content-connector-226
# Global owners - will be requested for all PRs
* @Armor-test/dept-billing @Armor-test/squad-qa @Armor-test/unit-design

# Directory ownership
/dist/ @Armor-test/dept-notifications @Armor-test/dept-data
/vendor/ @Armor-test/team-core @Armor-test/grp-ui @Armor-test/squad-product
/scripts/ @Armor-test/grp-api @Armor-test/team-reporting
/test/ @Armor-test/grp-integration @Armor-test/grp-ui
/src/ @Armor-test/unit-design @Armor-test/unit-cloud @Armor-test/grp-integration
/tests/ @Armor-test/squad-product @Armor-test/squad-payments
/examples/ @Armor-test/dept-identity @Armor-test/dept-automation @Armor-test/dept-api
/data/ @Armor-test/grp-search @Armor-test/squad-cloud
/migrations/ @Armor-test/dept-billing @Armor-test/team-security @Armor-test/squad-research
/common/ @Armor-test/team-notifications @Armor-test/dept-billing
/build/ @Armor-test/grp-search @Armor-test/unit-devops @Armor-test/squad-tooling

# File type ownership
*.java @Armor-test/squad-search @Armor-test/grp-storage @Armor-test/squad-reporting
*.rs @Armor-test/grp-search @Armor-test/squad-qa @Armor-test/team-logging
*.yaml @Armor-test/unit-devops @Armor-test/dept-reliability
*.tsx @Armor-test/squad-research @Armor-test/grp-api
*.proto @Armor-test/squad-reporting @Armor-test/grp-ui
*.jsx @Armor-test/grp-api @Armor-test/squad-product @Armor-test/dept-logging
*.ts @Armor-test/grp-integration @Armor-test/squad-cache @Armor-test/dept-api
*.html @Armor-test/unit-governance @Armor-test/grp-payments
*.yml @Armor-test/dept-api @Armor-test/unit-cloud
*.properties @Armor-test/team-security @Armor-test/squad-performance @Armor-test/team-logging

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/security/ @Armor-test/security @Armor-test/compliance
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Jenkinsfile @Armor-test/ci-team @Armor-test/devops

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/unit-design, @Armor-test/unit-cloud, @Armor-test/grp-integration

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-billing, @Armor-test/squad-qa, @Armor-test/unit-design

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/grp-integration, @Armor-test/grp-ui

Add src/main.py
  src/main.py
Owners: @Armor-test/unit-design, @Armor-test/unit-cloud, @Armor-test/grp-integration

Add src/index.js
  src/index.js
Owners: @Armor-test/unit-design, @Armor-test/unit-cloud, @Armor-test/grp-integration
